body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 3, 3);
}

/* centralizar o botão alterar*/
.btn-alterar {
    align-items: center;
    display: flex;
}

button {
    width: 100px;
    right: 30px;
    border-radius: 5px;
    background-color: #050;
    font-weight: bolder;
    color: #fff;
    border:  1px outset #ccc;

}

/*Alterna na cor do botao quando passa o mause*/
button:hover{
    background-color: #f00;
    box-shadow: 5px 5px 10px #161611;
}


.container {
    margin: 20px 50px;
}

/* faz ficar no meio*/
.container Form {
    display: flex;
    justify-content: center;
}

/*Criar linha na vertical*/
.container form div{
    padding: 15px 30px;

}

/*Tira a ultima div da formataçao, linha no caso do site.*/
.container form div:not(:last-child) {
    border-right: 1px inset blueviolet;
}

/* mexe na id texto*/
#tamanho-texto {
    width: 40px;
}
