body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 3, 3);
}


.btn-alterar {
    align-items: center;
    display: flex;

}

button {
    width: 100px;
    right: 30px;
    border-radius: 5px;
    background-color: aqua;
    font-weight: bolder;
    color: #fff;
    border:  1px outset black;

}

button:hover{
    background-color: #f00;
    box-shadow: 5px 5px 10px #161611;
}



.container {
    margin: 20px 50px;
}

.container Form {
    display: flex;
    justify-content: center;
}


.container form div{
    padding: 15px 30px;

}



.container form div:not(:last-child) {
    border-right: 1px inset blueviolet;
}


#tamanho-texto {
    width: 40px;
}
